<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HIUS.mappers.employeesMapper">
<insert id="employeesInsert" parameterType="model.EmpDTO" >
	insert into emp (EMP_ID, EMP_NO, EMP_PW, EMP_NAME, EMP_BIRTH, EMP_EMAIL, EMP_ADDR, gender, EMP_PH, HIRE_DATE, ACC_NO, EMP_JOB, DEP)
	values (#{EMP_ID}, (select nvl(max(emp_no),0) + 1 from emp) ,#{EMP_PW},#{EMP_NAME},#{EMP_BIRTH},#{EMP_EMAIL},#{EMP_ADDR},#{gender},#{EMP_PH},sysdate,null,null,null)
</insert>
<select id="empSelect" resultType="model.EmpDTO">
	select EMP_ID, EMP_PW, EMP_NO, EMP_NAME, EMP_BIRTH, EMP_EMAIL, EMP_ADDR, GENDER, EMP_PH, HIRE_DATE, ACC_NO, EMP_JOB, DEP from emp
</select>
<select id="empDetail"   parameterType="string" resultType="model.EmpDTO">
	select EMP_ID, EMP_PW, EMP_NO, EMP_NAME, EMP_BIRTH, EMP_EMAIL, EMP_ADDR, GENDER, EMP_PH, 
	HIRE_DATE, ACC_NO, EMP_JOB, DEP from emp
	where EMP_ID= #{EMP_ID}
</select>
<select id="empModify"   parameterType="string" resultType="model.EmpDTO">
	select EMP_ID, EMP_PW, EMP_NO, EMP_NAME, EMP_BIRTH, EMP_EMAIL, EMP_ADDR, GENDER, EMP_PH, 
	HIRE_DATE, ACC_NO, EMP_JOB, DEP from emp
	where EMP_ID= #{EMP_ID}
</select>
<update id="empModifyAction" parameterType="model.EmpDTO">
	update emp
	set EMP_EMAIL = #{EMP_EMAIL}, EMP_ADDR = #{EMP_ADDR}, EMP_PH = #{EMP_PH}
	where EMP_ID= #{EMP_ID} and EMP_PW= #{EMP_PW}
</update>
<delete id="empDelete" parameterType="String">
	delete from emp
	where EMP_ID= #{EMP_ID}
</delete>
</mapper>
