<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.edit.memberEditMapper">
<sql id="baseColumn">
	MEM_ID,MEM_PW,USER_NAME,MEM_BIRTH,GENDER,MEM_EMAIL,
	MEM_ADDR,MEM_PH,MEM_REG
</sql>
<delete id="deleteMember" parameterType="string">
	<if test="value != null">
		delete from member
		where mem_id = #{memId}
	</if>
</delete>
<!-- 생성자 -->
<resultMap type="mem" id="baseMember">
	<constructor>
		<idArg column="mem_id" javaType="string" />
		<arg column="mem_pw" javaType="string" />
		<arg column="mem_name" javaType="string"/>
		<arg column="mem_birth" javaType="java.sql.Timestamp"/>
		<arg column="gender" javaType="string"/>
		<arg column="mem_email" javaType="string"/>
		<arg column="mem_addr" javaType="string"/>
		<arg column="mem_ph" javaType="string"/>
		<arg column="mem_reg" javaType="java.sql.Timestamp"/>
	</constructor>
</resultMap>
<select id="selectMember" resultMap="baseMember" parameterType="mem">
SELECT *
FROM ( SELECT ROWNUM RN, <include refid="baseColumn" />
        FROM ( SELECT <include refid="baseColumn" />
                FROM  MEMBER
                <trim prefix="WHERE" prefixOverrides="AND | OR">
                	<if test="memId != null">
                		user_id = #{memId}
                	</if>
                </trim>
                ORDER BY MEM_REG DESC))
<trim prefix="where" prefixOverrides="AND | OR">
	<if test="startEndPageDTO != null" >
	RN BETWEEN #{startEndPageDTO.startPage} AND #{startEndPageDTO.endPage}
	</if>
</trim>
</select>
<select id="selectCount" resultType="int">
	select count(*) from member
</select>
</mapper>