<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="HIUS.mappers.memberMapper">
<insert id="memberInsert" parameterType="model.MemberDTO">
	insert into mem (mem_id, mem_pw, mem_name, mem_birth, mem_ph, mem_addr, mem_email, gender, mem_reg)
	values (#{memId}, #{memPw}, #{memName}, #{memBirth}, #{memPh}, #{memAddr}, #{memEmail}, #{gender}, SYSDATE)
</insert>

<select id ="memberSelect" resultType="model.MemberDTO">
	select memId, memPw, memName, memBirth, memPh, memAddr, memEmail, gender, memReg from mem
</select>

<select id="memberDetail" parameterType="String" resultType="model.MemberDTO">
	select mem_id, mem_no, mem_pw, mem_name, mem_birth, mem_ph, mem_addr, mem_email, gender, mem_reg from mem
	where mem_id=#{memId}
</select>
<select id="memberModify" parameterType="String" resultType="model.MemberDTO" >
	select mem_id, mem_pw, mem_name, mem_birth, mem_ph, mem_addr, mem_email, gender, mem_reg from mem
	where mem_id=#{memId}
</select>
<update id="memberModifyAction" parameterType="model.MemberDTO">
	update mem
	set mem_email = #{memEmail}, mem_addr= #{memAddr}, mem_ph=#{memPh}
	where mem_id =${memId} and Mem_pw = ${memPw}
</update>
<delete id="memberDelete" parameterType="String">
	delete from mem
	where mem_id=#{memId}
</delete>
</mapper>