<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="HIUS.mappers.memberMapper">
<insert id="memInsert" parameterType="model.MemDTO">
	insert into mem (MEM_ID, MEM_NO, MEM_PW ,MEM_NAME, MEM_BIRTH, MEM_PH, MEM_ADDR, MEM_EMAIL, GENDER, NICKNAME, MEM_REG)
	values (#{MEM_ID}, (select nvl(max(mem_no),0) + 1 from MEM) , #{MEM_PW}, #{MEM_NAME}, #{MEM_BIRTH}, #{MEM_PH}, #{MEM_ADDR}, #{MEM_EMAIL}, #{GENDER}, null, SYSDATE)
</insert>
<select id ="memSelect" resultType="model.MemDTO">
	select MEM_ID, MEM_NO, MEM_PW, MEM_NAME, MEM_BIRTH, MEM_PH, MEM_ADDR, MEM_EMAIL, GENDER, NICKNAME, MEM_REQ from mem
</select>
<select id="memDetail" parameterType="String" resultType="model.MemDTO">
	select MEM_ID, MEM_NO, MEM_PW ,MEM_NAME, MEM_BIRTH, MEM_PH, MEM_ADDR, MEM_EMAIL, GENDER, NICKNAME, MEM_REG from mem
	where MEM_ID=#{MEM_Id}
</select>
<update id="memUpdate" parameterType="mem" >
	update mem
	<trim prefix="set" suffixOverrides=",">
	MEM_ADDR = #{MEM_ADDR},
	MEM_PH = #{MEM_PH}
	</trim>
	where MEM_ID = #{MEM_ID}
</update>
</mapper>