<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="HIUS.mappers.partyAdminMapper">	
<insert id="partyInsert" parameterType="pr">
	insert into pr(pr_no, pr_img, pr_pl, pr_content, pr_price, pr_max, pr_mintime, pr_op, pr_ph)
	values((select nvl(max(pr_no),0) + 1 from pr),#{prImg},#{prPl},#{prContent},#{prPrice},#{prMax},#{prMintime},#{prOp},#{prPh})
</insert>
<select id="getPartyList" resultType="pr">
select pr_no prNo, pr_img prImg, pr_pl prPl, pr_content prContent, pr_price prPrice, pr_max prMax, pr_mintime prMintime, pr_op prOp, pr_ph prPh from pr 	     		
</select>
<update id="partyUpdate" parameterType="pr">
update party
set pr_content = #{prContent},
	pr_price = #{prPrice},
	pr_img = #{prImg}
where pr_No = #{prNo}	
</update>
<delete id="partyDelete" parameterType="string">
	delete from pr
	where pr_No = #{prNo}
</delete>
</mapper>	