<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HIUS.mappers.rentmallMapper">
	<select  id="rentmallAllselect" resultType="model.RentDTO">
	select RENT_GOODS_NO rentGoodsNo , RENT_GOODS_CLASS rentGoodsClass , RENT_GOODS_NAME rentGoodsName , RENT_GOODS_DETAIL rentGoodsDetail ,
	 RENT_GOODS_IMG rentGoodsImg , RENT_GOODS_QTY rentGoodsQty , RENT_GOODS_PRICE rentGoodsPrice
	from rent_goods
	</select>
	<select id="getSelectDetail" parameterType="string" resultType="model.RentDTO">
	select rent_Goods_No rentGoodsNo , rent_Goods_Class rentGoodsClass , rent_Goods_Name rentGoodsName,
		 rent_Goods_Detail rentGoodsDetail , rent_Goods_Img rentGoodsImg , rent_Goods_Qty rentGoodsQty , rent_Goods_Price rentGoodsPrice
	from rent_goods
	where rent_Goods_No= #{no}
	</select>
	<select id="getSelecNo" resultType="string">
		select RENT_ORDER_NO from rent_order where RENT_ORDER_NO not in (select RENT_ORDER_NO from rent_pay) and mem_id = #{memId}
	</select>
	<select id="getSelecOrderNo" resultType="string">
		select ex_seq.nextval from dual
	</select>
	<select id="sumPrice" resultType="int">
		select nvl(sum(RENTGOODSPRICE),0)    
		from rent_list l, rent_order o     
		where l.ORDERNO = o.RENT_ORDER_NO    
		and o.RENT_ORDER_NO not in (select RENT_ORDER_NO from rent_pay)
		and o.mem_id = #{memId}
	</select>
	<insert id="getrent_order" parameterType="model.RentOrderListDTO">
		insert into rent_list (corderLiNo, orderNo, rentGoodsNo , rentstartd , 
							   rentstarth,rentstartt, rentstartq, rentGoodsPrice ) 
		values (ex_seq.nextval, #{orderNo}, #{rentGoodsNo}, #{rentstartd},
					#{rentstarth}, #{rentstartt}, #{rentstartq},#{rentGoodsPrice})
	</insert>
	<insert id="rentOrderInsert" parameterType="model.RentOrderDTO">
		insert into rent_order (RENT_ORDER_NO, RENT_PAY, RENT_DATE, mem_Id, RENT_RCV_NAME , RENT_ADDR)
		values (#{rentOrderNo}, #{rentOrderNo}, sysdate, #{memId} ,1111,1111)
	</insert>
	<select id="rentCartList" parameterType="string" resultType="model.RentCartListDTO">
		select g.RENT_GOODS_NAME rentGoodsName , replace(g.RENT_GOODS_IMG,'`','') rentGoodsImg, g.RENT_GOODS_PRICE rentGoodsPrice, o.RENT_PAY rentPay, 
        l.RENTSTARTD, l.RENTSTARTH, l.RENTSTARTT, l.RENTSTARTQ, l.RENTGOODSPRICE, o.rent_order_no rentOrderNo
from rent_goods g, rent_list l, rent_order o
where g.RENT_GOODS_NO = l.rentgoodsno and l.orderno = o.rent_order_no 
and o.mem_id = 'mem' and o.rent_order_no not in (select RENT_ORDER_NO from rent_pay)	
	</select>
	<update id="updateOrder" parameterType="model.RentOrderDTO">
		update 	rent_order
		set RENT_PAY = #{rentPay}
		where RENT_ORDER_NO = #{rentOrderNo}
	</update>
<select id="rentOrderBuy" parameterType="string" resultType="model.RentOrderBuyDTO">
select replace(g.RENT_GOODS_IMG,'`','')  rentGoodsImg, g.RENT_GOODS_NAME rentGoodsName, l.RENTSTARTD, 
		l.RENTSTARTH, l.RENTSTARTT, l.RENTSTARTQ rentGoodsQty,l.RENTGOODSPRICE, l.RENTGOODSQTY rentGoodsQty, 
		o.RENT_ORDER_NO rentOrderNo , o.RENT_PAY  rentPay
from rent_goods g, rent_list l, rent_order o 
where g.RENT_GOODS_NO = l.RENTGOODSNO  and l.ORDERNO  = o.RENT_ORDER_NO 
and  o.RENT_ORDER_NO not in (select RENT_ORDER_NO from rent_pay) and o.mem_id = #{memId}
</select>
<update  id="rentOrderUpdate" parameterType="model.RentOrderDTO">
	update rent_order 
	set RENT_RCV_NAME = #{rentRcvName}, RENT_ADDR = #{rentAddr}
	where RENT_ORDER_NO = #{rentOrderNo}
</update>
<insert id="rentPayInsert" parameterType="model.RentPayDTO" >
	insert into rent_pay(RENT_PAY_NO, RENT_ORDER_NO, RENT_PAY_SUM, RENT_PAY_MET, RENT_PAY_DATE)
	values(ex_seq.nextval, #{rentOrderNo}, #{rentPaySum}, #{rentPayMet},sysdate)
</insert>
<select id="getOrderNo" parameterType="string" resultType="string">
	select RENT_ORDER_NO from rent_order where RENT_ORDER_NO in (select RENT_ORDER_NO from rent_pay) and mem_id = #{memId}
</select>
<resultMap type="model.RentBuyListDTO" id="RentBuyListResult">
	<association property="rentPayDTO" javaType="model.RentPayDTO">
		<result column="rent_pay" jdbcType="VARCHAR" property="rentPaySum"/>
		<result column="rent_order_no" jdbcType="VARCHAR" property="rentOrderNo"/>		
	</association>
	<collection property="Lists" ofType="model.RentOrderBuyDTO">
		<result column="RENT_GOODS_IMG" jdbcType="VARCHAR" property="rentGoodsImg"/>
		<result column="RENT_GOODS_NAME" jdbcType="VARCHAR" property="rentGoodsName"/>
		<result column="RENTSTARTQ" jdbcType="VARCHAR" property="rentStartQty"/>
		<result column="RENTSTARTT" jdbcType="VARCHAR" property="rentStartT"/>
		<result column="RENTGOODSPRICE" jdbcType="VARCHAR" property="rentGoodsPrice"/>		
	</collection>
</resultMap>
<select id="rentBuyList" parameterType="string" resultMap="RentBuyListResult">
select replace(RENT_GOODS_IMG, '`','') RENT_GOODS_IMG, RENT_GOODS_NAME, RENTSTARTQ, RENTSTARTT, RENTGOODSPRICE, RENT_PAY , o.rent_order_no
from rent_goods g, rent_list l,  rent_order o, rent_pay p
where g.rent_goods_no = l.rentgoodsno and l.orderno = o.rent_order_no and o.RENT_ORDER_NO = p.rent_order_no
and o.rent_order_no = #{orderNo}
</select>



















</mapper>