<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="controller.lent.LentController" />
	<bean class="service.lent.LentRegistService" />
	<bean class="repository.lent.LentRepository" />
	<bean class="service.lent.LentService" />
	<bean class="service.lent.LentDetailService" />
	<bean class="service.lent.LentReviseService" />
	<bean class="service.lent.LentReviceOKService" />
	<bean class="service.lent.LentDeleteService" />	
</beans>