<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="controller.party.PartyController"/>
		<bean class="controller.party.ParmanController"/>
		<bean id="PartyRepository" class="repository.party.PartyRepository"/>
		<bean id="PartyWriteService" class="service.party.PartyWriteService"/>
		<bean id="PartyListService" class="service.party.PartyListService"/>
		<bean id="PartyDetailService" class="service.party.PartyDetailService"/>
		<bean id="PartyUpdateService" class="service.party.PartyUpdateService"/>
		<bean id="PartyDeleteService" class="service.party.PartyDeleteService"/>
		<bean id="ImgDelService" class="service.party.ImgDelService"/>
		
</beans>			