<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="controller.shopgoods.ShopgoodsController"/>
		<bean class="repository.shopgoods.ShopgoodsRepository"/>
		<bean class="service.shopgoods.ShopgoodsJoinService"/>
		<bean class="service.shopgoods.ShopgoodsListService"/>
		<bean class="service.shopgoods.ShopgoodsDetailService"/>
		<bean class="controller.shoppingmall.ShoppingmallController"/>
		<bean class="service.shoppingmall.ShoppingmallService"/>
		<bean class="repository.shoppingmall.ShoppingmallRepository"/>
		<bean class="service.shoppingmall.ShoppingDetailService"/>
		<bean class="service.shoppingmall.ShopCartService"/>
		<bean class="service.shoppingmall.ShopCartListService"/>
		
</beans>

