<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="controller.partyAdmin.PartyAdminController"/>
		<bean id="PartyRepository" class="repository.party.PartyRepository"/>
		<bean id="PartyDetailService" class="service.partyAdmin.PartyDetailService"/>
		<bean id="PartyListService" class="service.partyAdmin.PartyListService"/>
		<bean id="partyJoinService" class="service.partyAdmin.PartyJoinService"/>
		<bean id="partyDeleteProService" class="service.partyAdmin.PartyDeleteProService"/>
		<bean id="partyModifyService" class="service.partyAdmin.PartyModifyService"/>
		
</beans>			