<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="controller.party.PartyController"/>
		<bean id="PartyRepository" class="repository.party.PartyRepository"/>
		<bean id="PartyInfoService" class="service.party.PartyInfoService"/>
		<bean id="PartyRoomDetailService" class="service.party.PartyRoomDetailService"/>
	
</beans>			